host: "hostname_or_ip"
port: your_port

provider_mapping:
  "/": "your/path/to/uploads"

simple_dc:
  user_mapping:
    "*":
      "any_user":
        password: "any_password"
        roles: ["editor", "admin"]

authentication:
  provider: "wsgidav.dc.simple_dc"
  policy: "digest"

logging:
  log_level: INFO
  config_file: null

lock_storage: true

prop_manager: null